**/target/**/*
**/gams/**/*.csv
**/gams/**/*.gdx
**/gams/**/*.lst
**/gams/**/*.pf
**/*.zip
**/gams/*_*
backend-gams/src/main/resources/gams/IRPsim/log.txt
backend-server/src/main/resources/gams/IRPsim/log.txt
backend-server/src/test/scripts/db.txt
backend-server/src/test/scripts/url.txt
backend-server/db.txt
backend-server/url.txt
backend-server/src/main/resources/gams/*_*
backend-server/src/main/resources/gams/**/*.gdx
backend-server/src/main/resources/gams/**/*.csv
backend-server/src/main/**/*.pf
backend-server/platform_auto.conf
**/*.jar
**/*output.csv
**/*.swp
*~
**/.classpath
_*.gdx
*.lst
*.put
docs/**/*.pdf
docs/**/*.aux
docs/**/*.dvi
docs/**/*.log
docs/**/*.synctex.gz
alt/
.settings/
**/performanceresults/
backend-server/import/
backend-utils/import/
**/.idea/
*.iml
backend-server/jcs_swap
bin/
.project
.idea/
buildlog
.metadata/
**/dependency-reduced-pom.xml
*.log
**/.checkstyle
**/reports/
**/*.launch
backend-gams/url.txt
backend-gams/db.txt
backend-gams/src/test/scripts/url.txt
backend-gams/src/test/scripts/db.txt
