<?xml version="1.0" encoding="UTF-8"?>
<!-- Set status to debug, to see log4j2's initial setup. -->
<Configuration status="info">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%line -  %msg%n" />
		</Console>
	</Appenders>

	<Loggers>

		<Logger name="com.mchange" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="io.swagger" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.reflections" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="de.unileipzig.irpsim.core.data.timeseries.TimeseriesImportHandler" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="de.unileipzig.irpsim.server.optimisation.OptimisationYear" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.unileipzig.irpsim.server.modelstart.GAMSModelStarter" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.unileipzig.irpsim.server.connectionLeakUtil.ConnectionLeakUtil" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>